<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary py-1">
  <div class="container-fluid d-flex flex-row-reverse">
    <a class="navbar-brand ps-4 d-flex align-items-center">
      <i class="bi bi-person-circle text-white"></i>
      <span class="ps-2 text-white">Theo</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/library"
            routerLinkActive="active"
            >Library</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link">Store</a>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </div>
</nav>
