<h5 class="text-center fw-bold">Genres</h5>
<div class="nav flex-column" *ngFor="let genre of genresList; index as i">
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      (change)="filterGenre(genre!.id, $event)"
      [checked]="checkBoxesActives![i]"
    />
    <label class="form-check-label" for="flexCheckDefault">
      {{ genre?.genre }}
    </label>
  </div>
</div>
<select class="form-select mt-3" (change)="orderByChange($event)">
  <option
    *ngFor="let orderBy of orderByList; index as i"
    value="{{ i }}"
    [selected]="i === this.orderBySelector"
  >
    {{ orderBy }}
  </option>
</select>
