<h5 class="text-center fw-bold">Genres</h5>
<div class="nav flex-column" *ngFor="let genre of genresList; index as i">
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      (change)="filterGenre(genre!.id, $event)"
      [checked]="checkBoxesActives![i]"
    />
    <label class="form-check-label" for="flexCheckDefault">
      {{ genre?.genre }}
    </label>
  </div>
</div>
<hr />
<select class="form-select mt-3" (change)="orderByChange($event)">
  <option
    *ngFor="let orderBy of orderByList; index as i"
    value="{{ i }}"
    [selected]="i === this.orderBySelector"
  >
    {{ orderBy }}
  </option>
</select>
<hr />
<div class="nav flex-column mt-3">
  <!-- <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      [checked]="readedInput"
      (change)="filterReaded($event)"
    />
    <label class="form-check-label" for="flexCheckDefault"> Readed </label>
  </div> -->

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="readedRadios"
      id="readed"
      value="readed"
      [(ngModel)]="readedOption"
      (ngModelChange)="onReadedChange($event)"
    />
    <label class="form-check-label" for="readed"> Readed </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="readedRadios"
      id="unreaded"
      value="unreaded"
      [(ngModel)]="readedOption"
      (ngModelChange)="onReadedChange($event)"
    />
    <label class="form-check-label" for="unreaded"> Unreaded </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="readedRadios"
      id="bothReaded"
      value="both"
      [(ngModel)]="readedOption"
      (ngModelChange)="onReadedChange($event)"
    />
    <label class="form-check-label" for="bothReaded"> Both </label>
  </div>
</div>
